
body{
  margin: 0px;
}

header{
  width: 100%;
  height: 90px;

  color: #fff;
  background-color: #000;
}

.header-logo{
  float: left;
  height: 90px;

}

.header-left li{
  list-style: none;
  float: left;
  padding: 0px 30px;


}

.header-right a{
  float: right;
  height: 30px;
  padding: 30px;
  :
}

main{
  width: 100%;
  height: auto;
}


.main-img{
  width: 100%;
  height: 480px;
  background-image: url('./image/Photoelly042.jpg');
  background-repeat: no-repeat;
  background-attachment: auto;
  background-position: center center;
  background-size: cover;
  margin-bottom: 10px
}


span{
  float: left;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
}



.content{
  display: inline-block;
  text-align: center;
}

.content:hover{
  color:
}

.contents{
  float: left;
  width: auto;
  margin-top: 90px;
  cursor: pointer;

  }

.contents-text{
      float: left;
      text-align: left;
      margin-top: 90px;
      cursor: pointer;
      padding: 0px 20px;
    }




.contents-2{
  display: inline-block;
  float: left;
  width: auto;
  margin-top: 50px;
  cursor: pointer;
}

.contents-text-2{
  float: left;
  width: auto;
  margin-top: 10px;
  padding: 0px 20px;
  cursor: pointer;
}


.contents-3{
  display: inline-block;
  float: left;
  margin-top: 30px;
  cursor: pointer;
  width: auto;
}

.contents-text-3{
  float: left;
  width: auto;
  margin-top: 10px;
  padding: 0px 20px;
  cursor: pointer;
}

footer{
  color: #fff;
  background-color: #000;
  width:100%;
  height: 90px;
}
